<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listRole = Context.Session.GetString("ListRole");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="content">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#347FC4">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        @if (User.Identity.Name == "superadmin@admin.com")
                        {
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Dashboard" asp-area="MasterData">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="GroupRole" asp-area="MasterData">Role</a>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Users</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="UserActive" asp-area="MasterData">User</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Position" asp-area="MasterData">Position</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Department" asp-area="MasterData">Department</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Supplier</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Supplier" asp-area="MasterData">Supplier PKS</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToNonPks" asp-controller="Supplier" asp-area="MasterData">Supplier Non-PKS</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToNonActive" asp-controller="Supplier" asp-area="MasterData">Supplier Non-Active</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Product</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Product" asp-area="MasterData">Product</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Category" asp-area="MasterData">Category</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Measurement" asp-area="MasterData">Measurement</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Discount" asp-area="MasterData">Discount</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="TermOfPayment" asp-area="MasterData">Term Of Payment</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Bank" asp-area="MasterData">Bank</a>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Warehouse</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="WarehouseLocation" asp-area="MasterData">Warehouse Location</a></li>
                                    <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="UnitLocation" asp-area="MasterData">Unit Location</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="LeadTime" asp-area="MasterData">Lead Time</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="InitialStock" asp-area="MasterData">Calculate Min-Max Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Api" asp-area="MasterData">Get Data API</a>
                            </li>                            
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(listRole))
                            {
                                var roles = listRole.Split(',');
                                if (roles.Contains("Dashboard"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Dashboard" asp-area="MasterData">Dashboard</a>
                                    </li>
                                }
                                @if (roles.Contains("GroupRole"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="GroupRole" asp-area="MasterData">Role</a>
                                    </li>
                                }
                                @if (roles.Any(role => role == "UserActive" || role == "Position" || role == "Department"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Users</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            @if (roles.Contains("UserActive"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="UserActive" asp-area="MasterData">User</a></li>
                                            }
                                            @if (roles.Contains("Position"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Position" asp-area="MasterData">Position</a></li>
                                            }
                                            @if (roles.Contains("Department"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Department" asp-area="MasterData">Department</a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if (roles.Contains("Supplier"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Supplier</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Supplier" asp-area="MasterData">Supplier PKS</a></li>
                                            <li><a class="dropdown-item" asp-action="RedirectToNonPks" asp-controller="Supplier" asp-area="MasterData">Supplier Non-PKS</a></li>
                                            <li><a class="dropdown-item" asp-action="RedirectToNonActive" asp-controller="Supplier" asp-area="MasterData">Supplier Non-Active</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (roles.Any(role => role == "Product" || role == "Category" || role == "Measurement" || role == "Discount"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Product</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            @if (roles.Contains("Product"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Product" asp-area="MasterData">Product</a></li>
                                            }
                                            @if (roles.Contains("Category"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Category" asp-area="MasterData">Category</a></li>
                                            }
                                            @if (roles.Contains("Measurement"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Measurement" asp-area="MasterData">Measurement</a></li>
                                            }
                                            @if (roles.Contains("Discount"))
                                            {
                                                <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="Discount" asp-area="MasterData">Discount</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                if (roles.Contains("TermOfPayment"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="TermOfPayment" asp-area="MasterData">Term Of Payment</a>
                                    </li>
                                }
                                if (roles.Contains("Bank"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Bank" asp-area="MasterData">Bank</a>
                                    </li>
                                }
                                @if (roles.Any(role => role == "WarehouseLocation" || role == "UnitLocation"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Warehouse</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="WarehouseLocation" asp-area="MasterData">Warehouse Location</a></li>
                                            <li><a class="dropdown-item" asp-action="RedirectToIndex" asp-controller="UnitLocation" asp-area="MasterData">Unit Location</a></li>
                                        </ul>
                                    </li>
                                }
                                if (roles.Contains("LeadTime"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="LeadTime" asp-area="MasterData">Lead Time</a>
                                    </li>
                                }
                                if (roles.Contains("InitialStock"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="InitialStock" asp-area="MasterData">Calculate Min-Max Stock</a>
                                    </li>
                                }
                                if (roles.Contains("Api"))
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-orange" style="color:#ffffff" asp-action="RedirectToIndex" asp-controller="Api" asp-area="MasterData">Get Data API</a>
                                    </li>
                                }
                            }
                        }                        
                    </ul>
                </div>
            </div>
        </nav>        
        @RenderBody()
    </section>    
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
