<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listRole = Context.Session.GetString("ListRole");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="content">           
        @RenderBody()
    </section>    
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
    @section Scripts {
        <style>
            .cursor-pointer {                
                cursor: pointer; /* Tambahkan ini untuk mengubah kursor */
            }
        </style>

        <script>
            //Start Pengaturan Click Pada Button DIV Index
            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("div[data-href]");

                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
            //End Pengaturan Click Pada Button DIV Index
        </script>
    }
</body>
</html>
