@{
    ViewData["Title"] = "Add Measurement";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Models;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model MeasurementViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">           
            <form enctype="multipart/form-data" asp-controller="Measurement" asp-action="CreateMeasurement" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MeasurementCode">Measurement Code</label>
                                        <input type="text" asp-for="MeasurementCode" class="form-control form-control-border border-width-2" id="MeasurementCode" placeholder="Measurement Code" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MeasurementName">Measurement Name</label>
                                        <input maxlength="50" autocomplete="off" autofocus type="text" asp-for="MeasurementName" class="form-control form-control-border border-width-2" id="MeasurementName" placeholder="Measurement Name">
                                        <span asp-validation-for="MeasurementName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input maxlength="75" autocomplete="off" autofocus type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note">
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
               
                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                                <a class="btn btn-default" asp-action="Index" asp-controller="Measurement">Cancel</a>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>

                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>                    
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->