@{
    ViewData["Title"] = "Add Role Menu";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemStaging.Models;
@using PurchasingSystemStaging.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model IEnumerable<dynamic>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Card Header -->
        <div class="card card-cyan">
            <div class="card-header">
                <h3 class="card-title" style="color:#ffffff"><b>@ViewBag.Title</b></h3>
                <div class="card-tools"></div>
            </div>
            <!-- Form Role Creation -->
            @{
                var user = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);
            }
            @if (user?.Email == "admin@admin.com")
            {
                <form id="createRoleForm" asp-controller="GroupRole" asp-action="CreateRoleNavbar" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <input type="text" name="roleName" class="form-control" required placeholder="Role Name" />
                                    </h3>
                                    <h3 class="card-title">
                                        <select name="normalized" class="form-control select2bs4" style="width: 100%;" data-placeholder="--Choose Department--">
                                            <option value="" hidden disabled selected>--Choose Group--</option>
                                            <option value="Master Data">Master Data</option>
                                            <option value="Purchase Request">Purchase Request</option>
                                        </select>
                                    </h3>
                                    <div class="card-tools">
                                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold">
                                            Create
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </form>
            }

            <!-- Card Body for Role Menus -->
            <div class="row mt-3">
                <div class="col-md-3" id="div0">
                    <a href="#" class="btn bg-info btn-block mb-3">All User</a>
                        <!-- DIRECT CHAT -->
                        <div class="card direct-chat direct-chat-primary">
                            <div class="card-header">
                                <h3 class="card-title">User Active</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- Conversations are loaded here -->
                                <div class="direct-chat-messages" style="height:500px;">
                                    <ul class="contacts-list" id="userList">
                                    </ul>
                                    <!-- /.contacts-list -->
                                </div>
                                <!-- /.direct-chat-pane -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <form action="#" method="post">
                                    <div class="input-group">
                                        <input type="text" id="searchInput" name="message" placeholder="Search User" class="form-control">
                                        <span class="input-group-append">
                                            <!-- Tombol Search dihapus -->
                                        </span>
                                    </div>
                                </form>
                            </div>
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-4" id="div1">
                    <a href="#" class="btn bg-info btn-block mb-3">All Role Menu</a>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <div class="input-group">
                                    <input type="text" id="searchMenu" name="message" placeholder="Search Menu" class="form-control">
                                    <span class="input-group-append">
                                        <!-- Tombol Search dihapus -->
                                    </span>
                                </div>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-success float-left fw-bold" id="moveButton">
                                    Move All
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column" id="folderList"></ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!-- Form for Create Group -->
                <div class="col-md-4" id="div2">
                    <a href="#" class="btn btn-primary btn-block mb-3">Create Role User</a>
                    <div class="card">
                        <form enctype="multipart/form-data" asp-controller="GroupRole" asp-action="CreateRole" method="post">
                            <div class="card-header">
                                <h3 class="card-title" id="menuTitle">Menu</h3>
                                <div class="card-tools">
                                    <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold">
                                        <i class="fas fa-plus blue-icon"></i> Add
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column" id="newFolderList">
                                    <!-- Elements to be moved here -->
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</section>
<!-- /.content -->
<!-- Script Section -->
<script src="~/admin/dist/js/signalr.min.js"></script>
<script>
    function initSignalR() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

        connection.start()
            .then(() => console.log("SignalR connected."))
            .catch(err => console.error(err.toString()));

        connection.on("UpdateDataCount", () => roleData());
    }


    function moveToDiv2(itemId) {
        const item = document.getElementById(itemId);
        const newList = document.getElementById('newFolderList');
        const originalList = document.getElementById('folderList');
        const iconElement = document.querySelector(`#${itemId} span i`);

        const menuTitle = document.getElementById('menuTitle');
        if (menuTitle && menuTitle.textContent.trim() !== "") {
            if (originalList.contains(item)) {
                newList.appendChild(item);
                iconElement.classList.replace('fa-plus', 'fa-times');
            } else {
                originalList.appendChild(item);
                iconElement.classList.replace('fa-times', 'fa-plus');
            }
        }
    }


    function roleData(Email, NameUser) {
        $.ajax({
            url: '@Url.Action("LoadRoles", "GroupRole")',
            method: 'GET',
            data: { Email: Email },
            success: function (data) {
                $('#folderList').empty();
                $('#newFolderList').empty();

                document.getElementById("menuTitle").textContent = NameUser;
                // Proses roles untuk department yang sesuai
                $.each(data.rolesForDepartment, function (index, role) {
                    $('#folderList').append(`
                                    <li class="nav-item" id="${role.name}">
                                        <input type="hidden" name="DepartemenId" value="${Email}">
                                        <input type="hidden" name="RoleId" value="${role.id}">
                                        <a href="#" class="nav-link" onclick="moveToDiv2('${role.name}')">
                                            <i class="fas fa-inbox"></i> ${role.name}
                                            <span class="float-right" id="inboxIcon"></span>
                                        </a>
                                    </li>
                                `);
                });

                $.each(data.rolesNotForDepartment, function (index, role) {
                    $('#newFolderList').append(`
                                     <li class="nav-item" id="${role.name}">
                                        <input type="hidden" name="RoleId" value="${role.id}">
                                        <a href="#" class="nav-link" onclick="moveToDiv2('${role.name}')">
                                            <i class="fas fa-inbox"></i> ${role.name}
                                            <span class="float-right" id="inboxIcon"></span>
                                        </a>
                                    </li>
                                `);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error getting roles:', error);
            }
        });
    }

    function userData() {
        $.ajax({
            url: '@Url.Action("LoadUser", "GroupRole")',
            method: 'GET',
            success: function (data) {
                console.log(data);
                $('#userList').empty();
                $.each(data, function (index, user) {
                    var foto = user.foto ? user.foto : 'user.jpg';
                    $('#userList').append(`
                        <li style="background-color: orange; cursor: pointer;">
                            <a href="#">
                                <img class="contacts-list-img" src="/UserPhoto/${foto}" alt="User Avatar">
                                <input type="hidden" name="nmUser" value="${user.fullName}" />
                                <input type="hidden" name="kdUser" value="${user.email}" />
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        ${user.fullName}
                                    </span>
                                </div>
                            </a>
                        </li>
                    `);
                });

                $('#userList').on('click', 'li', function () {
                    // Hapus kelas aktif dari semua li
                    $('#userList li').css('background-color', 'orange'); // Reset warna latar belakang
                    $(this).css('background-color', 'blue'); // Ubah warna latar belakang yang diklik

                    var selectedUserCode = $(this).find('input[name="kdUser"]').val();
                    var nmUser = $(this).find('input[name="nmUser"]').val();
                    console.log("Selected User Code:", selectedUserCode);
                    roleData(selectedUserCode, nmUser); // Panggil fungsi roleData dengan kode user yang dipilih
                });
            },
            error: function (xhr, status, error) {
                console.error('Error loading departments:', error);
            }
        });
    }


    function submitRoleForm(form) {
        var formData = form.serialize();

        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            success: function (response) {
                if (response.success) {
                    alert('Role created successfully!');
                } else {
                    alert('Error: ' + response.message);
                }
                form.find('input[name="roleName"]').val(''); // Mengosongkan input roleName
                form.find('select[name="normalized"]').prop('selectedIndex', 0);
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    }

    $(document).ready(function () {
        initSignalR();
        roleData();
        userData();

        $('#createRoleForm').submit(function (e) {
            e.preventDefault(); // Mencegah form dari pengiriman standar
            submitRoleForm($(this));
        });


        $('#searchInput').on('input', function () {
            var searchTerm = $(this).val().toLowerCase(); // Ambil nilai input dan ubah menjadi lowercase
            $('#userList li').each(function () {
                var userName = $(this).find('.contacts-list-name').text().toLowerCase(); // Ambil nama pengguna
                if (userName.includes(searchTerm)) {
                    $(this).show(); // Tampilkan elemen jika cocok
                } else {
                    $(this).hide(); // Sembunyikan elemen jika tidak cocok
                }
            });
        });

    });

    document.getElementById('moveButton').addEventListener('click', function (event) {
        event.preventDefault();
        const folderList = document.getElementById('folderList');
        const newFolderList = document.getElementById('newFolderList');

        const menuTitle = document.getElementById('menuTitle');
        if (menuTitle && menuTitle.textContent.trim() !== "") {
            while (folderList.firstChild) {
                newFolderList.appendChild(folderList.firstChild);
            }
        }
    });
    document.getElementById('searchMenu').addEventListener('input', function () {
        const searchValue = this.value.toLowerCase();
        const items = document.querySelectorAll('#folderList .nav-item');

        items.forEach(item => {
            const roleName = item.textContent.toLowerCase();
            if (roleName.includes(searchValue)) {
                item.style.display = ''; // Tampilkan item jika cocok dengan pencarian
            } else {
                item.style.display = 'none'; // Sembunyikan item jika tidak cocok
            }
        });
    });


</script>
