@{
    ViewData["Title"] = "Key Perfomance Indikator";
    //Layout = "~/Views/Shared/_TopNavbarOrder.cshtml";
}

@using PurchasingSystemApps.Areas.Transaction.Models;
@using PurchasingSystemApps.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model IEnumerable<UnitRequest>

<!-- Main content -->
<section class="content">
    <br />
    <div class="row">
        <div class="col-12">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title" style="color:#ffffff">@ViewBag.Title</h3>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-file-pen"></i> </span>
                <div class="info-box-content">
                    <span class="info-box-text">Your Data<b> Requested</b></span> <span class="info-box-number" id="data_requested"></span>
                    <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning requested"></div>
                    </div>
                    <span class="progress-description" id="desc-requested">

                    </span>
                </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-file-circle-check"></i> </span>
                <div class="info-box-content">
                    <span class="info-box-text"> Your Data Must be<b> Generate</b> </span> <span class="info-box-number" id="data_approved"></span>
                    <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success approved"></div>
                    </div>
                    <span class="progress-description" id="desc-approved">
                        Generate Your Request Approved
                    </span>
                </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-file-circle-xmark"></i> </span>
                <div class="info-box-content">
                    <span class="info-box-text">Request has been <b>Rejected</b></span> <span class="info-box-number" id="data_rejected"></span>
                    <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger rejected"></div>
                    </div>
                    <span class="progress-description">
                        Check the Reason in Description
                    </span>
                </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-list"></i> </span>
                <div class="info-box-content">
                    <span class="info-box-text">Request has been <b>Completed</b></span> <span class="info-box-number" id="data_completed"></span>
                    <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info completed"></div>
                    </div>
                    <span class="progress-description" id="desc-completed">

                    </span>
                </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="border-bottom">KPIs Monthly</h4>
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card progress-circle">
                        <div class="progress">
                            <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
                            <div class="overlay"></div>
                            <div class="left"></div>
                            <div class="right"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card progress-circle">
                        <div class="progress">
                            <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
                            <div class="overlay"></div>
                            <div class="left"></div>
                            <div class="right"></div>
                        </div>
                    </div>
                </div>
                @* <div class="col-sm-6">
                <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-file-pen"></i> </span>
                <div class="info-box-content">
                <span class="info-box-text">Your Data<b> Requested</b></span> <span class="info-box-number" id="data_requested"></span>
                <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-warning requested"></div>
                </div>
                <span class="progress-description" id="desc-requested">

                </span>
                </div> <!-- /.info-box-content -->
                </div> <!-- /.info-box -->
                </div>
                <div class="col-sm-6">
                <div class="info-box">
                <span class="info-box-icon"> <i class="fa-solid fa-file-pen"></i> </span>
                <div class="info-box-content">
                <span class="info-box-text">Your Data<b> Requested</b></span> <span class="info-box-number" id="data_requested"></span>
                <div class="progress mb-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-warning requested"></div>
                </div>
                <span class="progress-description" id="desc-requested">

                </span>
                </div> <!-- /.info-box-content -->
                </div> <!-- /.info-box -->
                </div> *@
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="border-bottom">Datatable</h4>
                    <table id="tblTemplate" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Create Date</th>
                                <th>Create By</th>
                                <th>UR Number</th>
                                <th>Unit Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="show_data">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js" integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("Json")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (r) {
            //console.log(r);
            let userId = r.userId;
            let data = r.dataUser;
            let dataId = [];
            let otherData = [];
            let dataApproved = [];
            let dataRejected = [];
            let dataRequested = [];
            let dataCompleted = [];

            data.forEach(function (element) {

                //dataById
                let id = element.applicationUser["id"]
                if (id == userId) {
                    dataId.push(id);
                } else {
                    otherData.push(id);
                }

                //dataByParam
                let status = element.status;
                if (id == userId && status == 'Approved') {
                    dataApproved.push(id);
                } else if (id == userId && status == 'Rejected') {
                    dataRejected.push(id);
                } else if (id == userId && status == 'Request') {
                    dataRequested.push(id);
                } else if (id == userId && status !== 'Approved' || id == userId && status !== 'Rejected' || id == userId && status !== 'Request') {
                    dataCompleted.push(id);
                }
            });

            // Data Created Card
            const totalCreated = dataId.length + otherData.length;
            const resultCreated = dataId.length + "/" + totalCreated;
            $("#data_created").text(resultCreated);

            const intTotalCreated = parseInt(totalCreated);
            const intDataCreated = parseInt(dataId.length);
            const percentCreated = ((intDataCreated / intTotalCreated) * 100).toFixed() + "%";
            $(".created").width(percentCreated);
            $("#desc-created").text(percentCreated + " From All Unit Request Data");

            // Data Approved Card atau Generate Card
            // Berdasarkan alur sistem karena hanya data yang sudah diapproved yang bisa di generate
            const intAprroved = dataApproved.length;
            const textApproved = intAprroved + "/" + totalCreated;
            const percentapproved = ((intAprroved / intTotalCreated) * 100).toFixed() + "%";
            $(".approved").width(percentapproved);
            $("#data_approved").text(textApproved);

            // Data Rejected Card
            const lengthRejected = dataRejected.length;
            const intRejected = parseInt(lengthRejected);
            const textRejected = intRejected + "/" + totalCreated;
            const percentRejected = ((intRejected / intTotalCreated) * 100).toFixed() + "%";
            $("#data_rejected").text(textRejected);
            $(".rejected").width(percentRejected);

            //Data Completed Card
            const lengthCompleted = dataCompleted.length;
            const intCompleted = parseInt(lengthCompleted);
            const textCompleted = intCompleted + "/" + totalCreated;
            const percentCompleted = ((intCompleted / intTotalCreated) * 100).toFixed() + "%";
            $("#data_completed").text(textCompleted);
            $("#desc-completed").text(percentCompleted + " Your Request was Done");
            $(".completed").width(percentCompleted);

            // Data Request Card
            const lengthRequested = dataRequested.length;
            const intRequested = parseInt(lengthRequested);
            const textRequested = intRequested + "/" + totalCreated;
            const percentRequested = ((intRequested / intTotalCreated) * 100).toFixed() + "%";
            $("#data_requested").text(textRequested);
            $("#desc-requested").text(percentRequested + " Your Request Still Running");
            $(".requested").width(percentRequested);


        }
    });

</script>
<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("ChartJson")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (r) {
            console.log(r);
            const request           = r.countRequest;
            const approved          = r.countApproved;
            const rejected          = r.countRejected;
            const completed         = r.countCompleted;
            const resultMonth       = [];
            const resultRequest     = [];
            const resultApproved    = [];
            const resultRejected    = [];
            const resultCompleted   = [];

            if (request.length == 0) {
                const months = "";
                const counts = 0;
            } else {
                request.forEach(function (e) {
                    resultMonth.push(e.months);
                    resultRequest.push(e.counts);
                })
            }

            if (approved.length == 0) {
                const months = "";
                const counts = 0;
            } else {
               approved.forEach(function (e) {
                    resultMonth.push(e.months);
                    resultApproved.push(e.counts);
                })
            }

            if (rejected.length == 0) {
                const months = "";
                const counts = 0;
            } else {
               rejected.forEach(function (e) {
                    resultMonth.push(e.months);
                    resultRejected.push(e.counts);
                })
            }

            if (completed.length == 0) {
                const months = "";
                const counts = 0;
            } else {
               completed.forEach(function (e) {
                    resultMonth.push(e.months);
                    resultCompleted.push(e.counts);
                })
            }

            let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) !== index)
            const theMonths = new Set(findDuplicates(resultMonth));

            var options = {
                series: [{
                    name: 'Request',
                    data: resultRequest
                }, {
                    name: 'Approved',
                    data: resultApproved
                }, {
                    name: 'Rejected',
                    data: resultRejected
                }, {
                    name: 'Completed',
                    data: resultCompleted
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '55%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: resultMonth,
                },

                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val + " Data"
                        }
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        }
    })

</script>
<script>
    $(document).ready(function() {
        show_data();
        function show_data() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDataById")',
                async: true,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    let html = "";
                    //var i = 0;
                    let no = 1;
                    for (i = 0; i < data.length; i++) {
                        let months = new Array(12);
                        months[0] = "January";
                        months[1] = "February";
                        months[2] = "March";
                        months[3] = "April";
                        months[4] = "May";
                        months[5] = "June";
                        months[6] = "July";
                        months[7] = "August";
                        months[8] = "September";
                        months[9] = "October";
                        months[10] = "November";
                        months[11] = "December";

                        let current_date = new Date(data[i].createDateTime);
                        current_date.setDate(current_date.getDate() + 15);
                        month_value = current_date.getMonth();
                        day_value = current_date.getDate();
                        year_value = current_date.getFullYear();

                        let status = "";
                        if (data[i].status == "Request") {
                            status = "text-left bg-warning";
                        } else if (data[i].status == "Approved") {
                            status = "text-left bg-success";
                        } else if (data[i].status == "Rejected") {
                            status = "text-left bg-danger";
                        } else {
                            status = "text-left bg-info";
                        }

                        console.log(status);
                        html += '<tr>' +
                            '<td class="'+ status +'">' + no + '</td>' +
                            '<td class="'+ status +'">' + months[month_value] + " " + day_value + ", " + year_value + '</td>' +
                            '<td class="'+ status +'">' + data[i].applicationUser["namaUser"] + '</td>' +
                            '<td class="'+ status +'">' + data[i].unitRequestNumber + '</td>' +
                            '<td class="'+ status +'">' + data[i].unitLocation["unitLocationName"] + '</td>' +
                            '<td class="'+ status +'">' + data[i].status + '</td>' +
                            '</tr>';
                        no++;
                    }

                    $('#show_data').html(html);
                    let table = new DataTable('#tblTemplate');
                }

            });
        }
    })
</script>
<style>
        * {
        box-sizing: border-box;
        padding: 0;
        margin: 0
    }

    .progress-circle {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #fffff;
        height: 26vh;
        align-items: center
    }

    .progress {
        width: 200px;
        height: 200px;
        font-size: 30px;
        color: #fff;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background: #07070c;
        text-align: center;
        line-height: 200px;
        margin: 20px
    }

    .progress::after {content: "%";}

    .progress .title {position: absolute;z-index: 100; margin-left: 80px;}

    .progress .overlay {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #07070c
    }

    .progress .left, .progress .right {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 10px solid #222235;
        border-radius: 100px 0px 0px 100px;
        border-right: 0;
        transform-origin: right;
    }

    .progress .left {animation: load1 1s linear forwards;}

    .progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

    .progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

    @@keyframes load1 {
        0% {transform: rotate(0deg);}

        100% {transform: rotate(180deg);}
    }

    @@keyframes load2 {
        0% {z-index: 100;transform: rotate(180deg);}

        100% {z-index: 100;transform: rotate(270deg);}
    }

    @@keyframes load3 {
        0% {z-index: 100;transform: rotate(180deg);}

        100% {
            z-index: 100;transform: rotate(315deg);}
    }
</style>
<!-- /.content -->
