@{
    ViewData["Title"] = "Add Bank";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Models;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model BankViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="Bank" asp-action="CreateBank" asp-area="MasterData" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BankCode">Bank Code</label>
                                        <input type="text" asp-for="BankCode" class="form-control form-control-border border-width-2" id="BankCode" placeholder="Bank Code" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BankName">Bank Name</label>
                                        <input maxlength="50" autocomplete="off" autofocus type="text" asp-for="BankName" class="form-control form-control-border border-width-2" id="BankName" placeholder="Bank Name">
                                        <span asp-validation-for="BankName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AccountNumber">Account Number</label>
                                        <input maxlength="50" autocomplete="off" type="number" asp-for="AccountNumber" class="form-control form-control-border border-width-2" id="AccountNumber" placeholder="Account Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="CardHolderName">Card Holder Name</label>
                                        <input maxlength="50" autocomplete="off" type="text" asp-for="CardHolderName" class="form-control form-control-border border-width-2" id="CardHolderName" placeholder="Card Holder Name">
                                        <span asp-validation-for="CardHolderName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input maxlength="75" autocomplete="off" type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note">
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>                        
                    </div>
                </div>
                
                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                                <div class="btn btn-default" data-href="@Url.Action("Index", "Bank")">Cancel</div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
                
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>                   
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->