@{
    ViewData["Title"] = "Add Position";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Models;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model PositionViewModel

<!-- Tempusdominus Bootstrap 4up -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="Position" asp-action="CreatePosition" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="PositionCode">Position Code</label>
                                        <input type="text" asp-for="PositionCode" class="form-control form-control-border border-width-2" id="PositionCode" placeholder="Position Code" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="DepartmentId">Department Name</label>
                                        <select class="form-control select2bs4" autofocus style="width: 100%;" asp-for="DepartmentId" asp-items="@ViewBag.Department">
                                            <option value="" hidden disabled selected>--Choose Department--</option>
                                        </select>
                                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="PositionName">Position Name</label>
                                        <input type="text" asp-for="PositionName" class="form-control form-control-border border-width-2" maxlength="50" autocomplete="off" id="PositionName" placeholder="Position Name">
                                        <span asp-validation-for="PositionName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>                        
                    </div>
                </div>
                
                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                                <a class="btn btn-default" asp-action="Index" asp-controller="Position">Cancel</a>
                            </div>
                            <div class="col-md-0"></div>
                        </div>                        
                    </div>
                </div>

                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->