@{
    ViewData["Title"] = "Satuan Data";
    Layout = "~/Views/Shared/_TopNavbarAdministrator.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model List<dynamic>

<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewData["Title"]</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <form enctype="multipart/form-data" asp-controller="Api" asp-action="CreateSatuan" method="post">
                    <table id="tblTemplate" class="table table-hover table-head-fixed text-wrap">
                        <thead>
                            <tr>
                                <th><strong>No</strong></th>
                                <th><strong>Kode Satuan</strong></th>
                                <th><strong>Nama Satuan</strong></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                var no = 0;
                                foreach (var supplier in Model)
                                {
                                    <tr>
                                        <td>@no++</td>
                                        <td>@supplier.kode_satuan</td>
                                        <td>@supplier.satuan</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="14">Tidak ada data untuk ditampilkan.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Kirim</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/scripts/tabletemplate.js"></script>

    <style>
        span.error {
            display: block;
            color: #347FC4;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}